*{
    box-sizing: border-box;
}
h1{
    background: linear-gradient(to right,yellow, rgb(207, 3, 3),rgb(32, 32, 34));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;

}
body
{
    background-image:url("./img1.jpg");
    background-size: cover;
    font-size: large;
    color: rgb(29, 31, 32);
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.countdown
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.bigtext
{
    font-size: 4rem;
    margin: 0px 30px;
}
span{
    font-size: 1.5rem;
    margin: 0px 35px;
    color: rgb(247, 239, 239);
    font-weight: 900;
    text-align: center;
}
.today
{
    padding: 30px;
    color: aliceblue;
}